@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth !important;
  }

  html::-webkit-scrollbar {
    width: 0.5vw;
    height: 10px;
  }

  html::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
  }

  html::-webkit-scrollbar-track {
    background-color: #ffff;
  }

  a {
    outline: none;
  }



  @media screen and (max-width: 767px) {
    h1, h2,h3,h4,h5, p {
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 567px) {
    h1, h2,h3,h4,h5, p {
      font-size: 0.8rem;
    }
  }
}

@layer utils {
  .carousel-item {
    @apply absolute h-full w-full cursor-pointer overflow-hidden drop-shadow-md transition-all duration-500 ;
  }

}

@layer components {
  .sidebarLink {
    @apply text-white duration-300 ease-in-out cursor-pointer w-full text-center py-8 hover:bg-gray-100;
  }

  .carousel-container {
    @apply relative h-[300px] w-6/12 md:w-5/12  sm:h-40 md:h-[300px];
    perspective: 450px;
    transform-style: preserve-3d;
  }

  .carousel-btn-switch {
    @apply absolute z-40 flex  cursor-pointer items-center justify-center rounded-full bg-[#02c272] text-2xl opacity-75 transition duration-300 hover:opacity-100 md:h-12 md:w-12;
  }

.carousel-arrow-left {
  @apply absolute lg:left-[-300px] md:left-[-220px] left-[-100px]  top-[40%] h-9 w-9;
}

.carousel-arrow-right {
  @apply lg:right-[-300px]  md:right-[-220px] right-[-100px] top-[40%] h-9 w-9 p-1;
}
  .navLink {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1px;
    color: #fff;
    font-size: 0.9rem;
  }

  .navLink:after {
    content: "";
    position: absolute;
    background-color: #02c272;
    height: 2px;
    border-radius: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s all ease-in-out;

  }

  .navLink:hover {
    color: #02c272;
    transition: 0.2s all ease-in-out;
  }

  .navLink:hover:after {
    width: 100%;
  }
}